* {
    margin: 0;
    padding: 0;
}
/* Shared styles */
.text-center{
    text-align: center;
}
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
 
    font-style: normal;
}
.raleway-normal{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
}

.btn-primary{
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
    text-align: center;
    border: none;
    padding: 12px 36px;
    font-weight: bold;
    font-size: 16;

}
.section-margin{
   
    margin: 125px 150px;
}

/* header */
.header{
    
    background-image: url('../Assets/Hero-bg.png');
 width: 100%;
}
/* nav styles */

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

nav h2{
    font-weight: 900;
    font-size: 34;
    color: #4E47FF;
}


/* banner */
.banner{

    padding: 158px 117px 152px 117px;
}
.banner-content{
    text-align: center;
}
.banner-heading{
   text-align: center;
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.banner-btn{
    margin-top: 37px;

}
/* section */

/* frame1 */
.frame-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f1content-description{
    margin-top: 23px;
    margin-bottom: 23px;
    font-size: 24px;
  font-weight: normal;
  color: rgba(37, 36, 50, 0.5);

}
.f1content-heading{
  font-weight: bold;
  font-size: 42px;
}

.f1img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
